body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAG0lEQVQYV2PcvHnzf19fX0YGPACvJEzfqCIGAC55BAqBlVXsAAAAAElFTkSuQmCC) repeat;
  padding-top: 40px;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #382E1C;
  font-family: serif;
  margin-bottom: 20px;
}
#quote {
  color: #453823;
  font-size: 18px;
}
.message {
  color: #453823;
  font-size: 18px;
}
.btn {
  background: #BAA378;
  color: #382E1C;
}
button:focus {
  outline: 1px solid #382E1C !important;
}
a, a:hover, a:target, a:active, a:focus {
  color: #baa378;
}
.footer {
  font-size: 14px;
}
